$images: /assets/images;
$fonts: /assets/fonts;
$yellow: #ff8800;
$white: #ffffff;
$progress-bar-bg: #74C421;
$progress-bar-bg-alt: #ffffff;
$progress-bar-border: #356900;
$base-bg: #ffffff;
$base-bg-alt: #151515;
$base-fg: #000000;
$postcard-bg:#222222;